@import 'variables.scss';

body {
	padding-top: 2px;
	padding-bottom: 40px;
}

.table-users {
    tbody td {
        line-height: 36px;
    }

    tfoot td.pagination-wrap {
        background-color: #f8f8f8;

        & .pagination {
            margin: 0px;
        }
    }
}

#events-map-wrapper {
    border: 1px solid #0088cc;
    border-radius: 5px;
    padding: 1px;
    width: 800px;
    height: 600px;

    &:hover {
        box-shadow: 0px 0px 12px rgba(0, 136, 204, 0.5);
    }
}
